extends layout

block content
    img(src=meme.url)
    h1="Price history"
    table
        each elem in history
            tr
                td= elem.price
    if user
        form(method="post")
            input(type="text" name="price")
            input(type="submit", value="Set")
            input(type="hidden", name="_csrf", value=csrfToken)

    a(href="/") back